<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846736125662-talr7t8df3bqidtrc74cd2te98ikvd5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846736125662-talr7t8df3bqidtrc74cd2te98ikvd5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDTex9Z5gCQFe-5aOWJbWHt4VptiJO4wf8</string>
	<key>GCM_SENDER_ID</key>
	<string>846736125662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gwinyai.BotanyApp</string>
	<key>PROJECT_ID</key>
	<string>botanyapp-ecf9d</string>
	<key>STORAGE_BUCKET</key>
	<string>botanyapp-ecf9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846736125662:ios:e4d0e3df00ac638f345c4f</string>
</dict>
</plist>